{% extends "base.html" %} 
{% block title %}Register{% endblock %} 
{# Load the tag library #} {% load bootstrap5 %} {# Load CSS and JavaScript #}
{% bootstrap_css %} {% bootstrap_javascript %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <h1>Register a User</h1>

    <form method="post">
      {% csrf_token %} {{ form | crispy }}
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p> Registered?<a href="{% url 'user_login' %}">Log In now</a></p>
  </body>
</html>
{% endblock %}
